*.sdf
*.suo
*.opensdf
*.pyc

cache-osc
pack_dir.cmd

tools/cache-osc
tools/src
tools/sounds
tools/screen_blood_01

data/ext
data-ram

proj.android/bin
proj.android/gen
proj.android/libs
proj.android/obj
proj.win32/ipch
proj.win32/Debug*
proj.win32/Release*
/langs/
/screenshots/
